<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.syslogic.demo.colorpicker">
    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.ColorPicker"
        android:supportsRtl="true"
        tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
